body {
      background-color: #fafafa;
      font-family: 'Open Sans', sans-serif;
      color: #444;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }

    h1 {
      text-align: center;
      margin-top: 20px;
      font-size: 36px;
      color: #8bc34a;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
      font-family: 'Roboto Condensed', sans-serif;
    }
    h2, h3, h4 {
      text-align: center;
    }
    .colored-text {
      color: red;
    }

    .input-container {
      text-align: center;
    }

    .input-container input[type="text"] {
      display: inline-block;
      padding: 10px;
      border-radius: 5px;
      border: none;
      margin-bottom: 10px;
      box-sizing: border-box;
      font-size: 16px;
      background-color: #e3e0d7;
      text-align: left;
    }

    .input-container input[type="password"] {
      display: inline-block;
      padding: 10px;
      border-radius: 5px;
      border: none;
      margin-bottom: 10px;
      box-sizing: border-box;
      font-size: 16px;
      background-color: #e3e0d7;
      text-align: left;
    }

    .login-button {
      background-color: #8bc34a;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
      border: none;
    }

    .login-button:hover {
      background-color: #689f38;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    }

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 20px;
    }

    @media only screen and (max-width: 768px) {
      .button-container {
        flex-direction: column;
        align-items: center;
      }
    }
    .container {
  width: 300px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container {
  margin-bottom: 10px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.login-button {
  display: block;
  width: 100%;
}

.button-container {
  margin-top: 10px;
}
.colored-text {
    color: red
}
.error-message {
  color: white;
  background-color: red;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}