.item {
  padding: 15px;
  background-color: #f0f0f0;
  margin-bottom: 50px;
  margin-right: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.dragging {
  opacity: 0.5;
}

.dragging-over {
  background-color: #ccc;
}

#item-1 {
  background-color: #8bc34a;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: none;
}
#item-1:hover {
  background-color: #689f38;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#item-2 {
  background-color: #ffc107;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: none;
}
#item-2:hover {
  background-color: #ffa000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#item-3 {
  background-color: #8bc34a;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: none;
}
#item-3:hover {
  background-color: #689f38;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#item-4 {
  background-color: #ffc107;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: none;
}
#item-4:hover {
  background-color: #ffa000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#item-5 {
  background-color: #8bc34a;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: none;
}
#item-5:hover {
  background-color: #689f38;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#item-6 {
  background-color: #ffc107;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: none;
}
#item-6:hover {
  background-color: #ffa000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#item-7 {
  background-color: #8bc34a;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: none;
}
#item-7:hover {
  background-color: #689f38;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
  color: #8bc34a;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  font-family: "Roboto Condensed", sans-serif;
}
h3 {
  text-align: center;
}

body {
  background-color: #fafafa;
  font-family: "Open Sans", sans-serif;
  color: #444;
}
.done-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.done {
  position: relative;
  background-color: #ffc107;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 230px;
  text-align: center;
  animation: shine 2s ease-in-out infinite;
}

@keyframes shine {
  0% {
    background-color: #ffc107;
  }
  50% {
    background-color: #8bc34a;
  }
  100% {
    background-color: #ffc107;
  }
}

.back-button {
  background-color: #8bc34a;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: none;
  display: block;
  margin: 0 auto;
}

.back-button:hover {
  background-color: #689f38;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }
}
